<div class="container">

    <div class="text-center mt-2">
        <h1>Welcome to AppWeather</h1>
    </div>

    <div class="row">
        <div class="form-group mb-0">
            <input type="text" class="form-control" placeholder="Enter city" [(ngModel)]="cityName">
        </div>

        <button (click)="addNewCity()"
                class="btn btn-primary"
                [disabled]="(cities$ | async)?.length >= 10">
            Add New City
        </button>

        <button (click)="navigateFavourites()"
                class="btn btn-primary">
            My favorite cities
        </button>
    </div>
    <p *ngIf="(cities$ | async)?.length >= 10">
        You cannot enter more than 10 cities!
    </p>
    
    <div *ngFor="let city of cities$ | async">
        <app-city-card 
            [city]="city"
            [isFavoritePage]="false"
            (deleteCity)="deleteCity($event)"
            (nextFiveDays)="navigateNextFiveDays($event)"
            (addFavorites)="addFavorites($event)"
        ></app-city-card>
    </div>
</div>