.btn-primary {
    background-color: $primary;
    border-color: $primary;
    
    &:hover, &:active {
        background-color: $secondary;
        border-color: $secondary;
    }

    @media screen and (max-width: 580px) {
        margin-top: 20px;
    }
}