.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    color: white;
}
.form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.btn-login {
    background-color: rgb(230, 230, 18);
    margin-top: 20px;
}

a {
    color: rgb(230, 230, 18);
}

.error-message {
    color: rgb(230, 230, 18);
    font-size: 12px;
}