<div class="container">
    
    <div class="text-center mt-2">
        <h1>{{ cityName }} - next five days</h1>
    </div>

    <div class="row">
        <!-- IF IT WAS THE DAILY GET REQUEST -->
        <!-- <div class="col-lg-2 text-center" *ngFor="let forecast of forecastNextFiveDays$ | async">
            <app-next-day [forecast]="forecast"
                        (click)="navigateToTime(forecast)"
            ></app-next-day>
        </div> -->
        <div class="col-lg-2 text-center" *ngFor="let dayForecast of days">
            <app-next-day [forecast]="dayForecast.forecast"
                        (click)="navigateToTime(dayForecast.day)"
            ></app-next-day>
        </div>
    </div>
</div>
