<div class="card text-muted">
    <div class="card-header">
        <h4>
            <span *ngIf="isFavoritePage">
                <i class="fa fa-star"></i>
            </span>
            {{ city.name }}, {{ city.sys.country }}
        </h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
               <p>TEMPERATURE: {{ city.main.temp }} &#x2103;</p>
               <p>Temperature min: {{ city.main.temp_min }} &#x2103;</p>
               <p>Temperature max: {{ city.main.temp_max }} &#x2103;</p>
               <p>Feels like: {{ city.main.feels_like }} &#x2103;</p>
            </div>
            <div class="col-3">
                <div *ngFor="let weather of city.weather">
                    <p>Weather: {{ weather.main }}</p>
                    <p>More: {{ weather.description }}</p>
                    <img src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png" />
                </div>
            </div>
            <div class="col-3">
                <p>Humidity: {{ city.main.humidity }} %</p>
                <p>Pressure: {{ city.main.pressure }}</p>
                <p>Wind: {{ city.wind.deg }}</p>
                <p>Wind speed: {{ city.wind.speed }} km/h </p>
            </div>
            <div class="col-3" *ngIf="!isFavoritePage">
               <button class="btn btn-primary" (click)="weatherNextFiveDays(city.name)">
                    Next five days
               </button>
               <button class="btn btn-primary mt-2" (click)="addToFavourites(city)">
                    Add to favourites
                </button>
                <button class="btn btn-primary mt-2" (click)="removeCity(city.id)">
                    Remove City
                </button>
            </div>
        </div>
    </div>
    <div class="card-footer">
       Timezone: {{ city.timezone | date: 'medium' }}
    </div>
</div>