<div class="card text-muted">
    <div class="card-header">
        <h4>{{ city.name }}</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
               <p>TEMPERATURE: {{ city.main.temp }}</p>
               <p>Temperature min: {{ city.main.temp_min }}</p>
               <p>Temperature max: {{ city.main.temp_max }}</p>
               <p>Feels like: {{ city.main.feels_like }}</p>
            </div>
            <div class="col-3">
                <div *ngFor="let weather of city.weather">
                    <p>Weather: {{ weather.main }}</p>
                    <p>More: {{ weather.description }}</p>
                    <img src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png" />
                </div>
            </div>
            <div class="col-3">
                <p>Humidity: {{ city.main.humidity }}</p>
                <p>Pressure: {{ city.main.pressure }}</p>
                <p>Wind: {{ city.wind.deg }}</p>
                <p>Wind speed: {{ city.wind.speed }}</p>
            </div>
            <div class="col-3">
               <button class="btn btn-primary">
                    Next five days
               </button>
               <button class="btn btn-primary mt-2">
                    Add to favourites
                </button>
                <button class="btn btn-primary mt-2" (click)="removeCity(city.id)">
                    Remove City
                </button>
            </div>
        </div>
    </div>
    <div class="card-footer">
       Timezone: {{ city.timezone }}
    </div>
</div>