/* You can add global styles to this file, and also import other style files */
body {
    background: #117d91c9;  
    color: white;
}

.btn-primary {
    background-color: rgb(230, 230, 18);
}

.row {
    margin-left: 0;
}