/* You can add global styles to this file, and also import other style files */
@import '../src/styles/variables';
@import '../src/styles/buttons';
@import '../src/styles/mixins';

body {
    background: $background-color;
    color: $text-color;
}

.row {
    margin-left: 0;
}