<div class="container">
    
    <div class="text-center mt-2">
        <h1>My favorite cities</h1>
    </div>
    
    <div class="button-wrapper">
        <button class="btn btn-primary" (click)="back()">
            Back
        </button>
    </div>

    <p *ngIf="(favorites$ | async)?.length == 0">
        No favorite cities!
    </p>
    
    <div *ngFor="let favorite of favorites$ | async">
        <app-city-card 
            [city]="favorite"
            [isFavoritePage]="true"
        ></app-city-card>
    </div>
</div>
